table {
  margin: 2% auto;
  width: 70%;
}

.table-r {
  background: #333;
  color: #eee
}

.table-r th {
  padding: 2%;
}

.search-box {
    text-align: center;
    margin-top: 4%;
}

input {
  width: 25%;
  padding: 5px;
}

tbody th {
  padding: 3%;
  border: 1px solid #eee;
}
